@import '../../styles/variables';

:local(.chatbox) {
  font: 14px/20px "Lato", Arial, sans-serif;

  .chat {
    width: 74%;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
    height: 100vh;
    @media screen and (max-width: 576px){
      width: 100%;
    }
    .chat-header {
      padding: 10px 20px;
      border-bottom: 2px solid white;
      background: $main-color;
      .logo{
        height: 50px;
        float: left;
        img{
          max-width: 100%;
          position: relative;
          top: -7px;
          @media screen and (max-width: 576px){
            display: none;
          }
        }
      }
      .current-user{
        position: relative;
        display: inline-block;
        float: right;
        cursor: pointer;
        transition: 0.2s all;
        @media screen and (max-width: 576px){
          top: 3px;
          right: -10px
        }
        &:hover{
          background: #73CCF3;
        }
        h3{
          float: right;
          padding: 8px;
          margin-left: 15px;
          font-size: 20px;
          font-weight: bold;
          color: white;
          margin-left: 5px;
          position: relative;
          top: 4px;
          @media screen and (max-width: 576px){
            font-size: 17px;
            top: 1px;
          }
        }
        img {
          float: right;
          width: 50px;
          border-radius: 50%;
          @media screen and (max-width: 576px){
            width: 40px;
          }
        }
        .dropdown-user{
          position: absolute;
          top: 58px;
          right: 16px;
          background: white;
          width: 200px;
          z-index: -1;
          visibility: hidden;
          opacity: 0;
          transition: 0.3s ease-in-out;
          box-shadow: 0px 1px 5px 1px;
          &.show{
            z-index: 100;
            visibility: visible;
            opacity: 1;
          }
          &:after {
            bottom: 100%;
            right: 5%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: white;
            border-width: 11px;
            margin-left: -10px;
          }
          ul{
            margin: 0;
            padding: 0;
            li{
              padding: 20px;
              border-bottom: 1px solid #969696;
              transition: 0.2s all;
              &:hover{
                background: #f2f2f2;
              }
              .icon{
                float: right;
              }
              &:nth-child(2){
                border: 0;
              }
            }
          }
        }
      }

      .chat-about {
        float: left;
        padding-left: 10px;
        margin-top: 6px;
      }

      .chat-with {
        font-weight: bold;
        font-size: 16px;
      }

      .chat-num-messages {
        color: $gray;
      }

      .fa-star {
        float: right;
        color: #D8DADF;
        font-size: 20px;
        margin-top: 12px;
      }
    }

    .chat-history {
      padding: 30px 30px 20px;
      border-bottom: 2px solid white;
      overflow-y: scroll;
      height: 58%;
      ul{
        @media screen and (max-width: 576px){
          padding: 0 !important;
        }
      }
      .message-data {
        margin-bottom: 15px;
      }

      .message-data-time {
        color: lighten($gray, 8%);
        padding-left: 6px;
      }

      .message {
        color: white;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        margin-bottom: 30px;
        width: 60%;
        position: relative;
        @media screen and (max-width: 576px){
          width: 90%;
        }
        p{
          padding-left: 10px;
          word-wrap: break-word;
        }
        a{
          color: yellow;
        }
        &:after {
          bottom: 100%;
          left: 7%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: #444753;
          border-width: 10px;
          margin-left: -10px;
        }
      }

      .other-message {
        background: #444753;
      }

      .my-message {
        background: $main-color;

        &:after {
          border-bottom-color: $main-color;
          left: 93%;
          @media screen and (max-width: 576px){
            left: 85%;
          }
        }
      }
    }

    .chat-message {
      padding: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      position: relative;
      textarea {
        width: 100%;
        border: none;
        padding: 10px 20px;
        font: 14px/22px "Lato", Arial, sans-serif;
        margin-bottom: 10px;
        border-radius: 5px;
        resize: none;
        height: 110px;
      }
      .media{
        display: block;
      }
      .image-box{
        width: 85%;
        display: inline-block;
        height: auto;
        position: relative;
        margin-left: 20px;
        @media screen and (max-width: 576px){
          margin-left: 0;
          width: 100%;
        }
        .preview-box{
          display: flex;
          height: 47px;
          width: 100%;
          overflow-x: auto;
        }
      }

      .fa-file-image-o,
      .fa-file-o {
        font-size: 16px;
        color: gray;
        cursor: pointer;
      }

      button {
        float: right;
        color: $blue;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: bold;
        background: #F2F5F8;

        &:hover {
          color: darken($blue, 7%);
        }
      }
      .file{
        margin-right: 10px;
        cursor: pointer;
        float: left;
      }
      .fileImage{
        float: left;
        cursor: pointer;
      }
    }
  }

  .me,
  .offline,
  .online {
    margin-right: 3px;
    font-size: 10px;
  }

  .online {
    color: $green;
  }

  .offline {
    color: $orange;
  }

  .me {
    color: $blue;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .float-right {
    float: right;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  ul{
    list-style: none;
    margin: 0;
  }
  .circle{
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    &.online{
      background: #9DF57A;
    }
    &.offline{
      background: #E38968;
    }
    &.me{
      background: $main-color;
    }
    &.other{
      background: #444753;
    }
  }
  .btn-toggle{
    background: white;
    margin-top: 5px;
  }
  // .btn-send{
  //   position: absolute;
  //   top: 23px;
  //   right: 31px;
  //   z-index: 9;
  //   background: transparent !important;
  // }
}
